@import url(./reset.css);
@import url(./variables.css);

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header{
    display: flex;
    justify-content: space-between;
    padding: 32px;
    background: #FFF;
    border-bottom: solid 0.7px #C4C4C4;
    position: sticky;
    top: 0;
}

.nav-bar{
    display: flex;
    align-items: center;
    gap: 167px;
}

.pages ul{
    display: flex;
    gap: 78px;
}

.logo{
    color: #1090CB;
    font-family: Poppins;
    font-size: 29px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.pages ul li a{
    color: #000;

    /* Base */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact-us-btn{
    display: flex;
    align-items: center;
    border-radius: 6px;
    background: #1090CB;
    padding: 10px 26px;
    color: #FFF;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}