.pages ul li:nth-child(1){
  position: relative;
}

.pages ul li:nth-child(1) a {
  color: var(--mainBlue);
}

.info{
  display: flex;
  gap: 25px;
  padding: 0 195px 0 100px;
  background-color: var(--Blue100);
}

.info-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 65px;
}

.info-text{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.info-text h1{
  color: var(--textBlack);
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.info-text h1 span{
  color: var(--mainBlue);
}

.info-text p{
  color: var(--Brown100);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 204.3%; /* 32.688px */
}

.info-buttons{
  display: flex;
  gap: 15px;
}

.info-buttons button:first-child{
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background: var(--mainBlue);
  color: var(--White100);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 204.3%; /* 32.688px */
  padding: 10px 54px;
}

.info-buttons button:last-child{
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid var(--mainBlue);
  background: var(--White100);
  color: var(--mainBlue);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 204.3%; /* 32.688px */
  padding: 10px 54px;
}

.info-left img{
  width: 100%;
}

.info-right{
  position: relative;
}

.big-plant{
  position: absolute;
  left: 412px;
  bottom: 85px;
}

.cuboid{
  position: absolute;
  left: 490px;
  top: 180px;
  animation-name: cuboid-animation;
  animation-iteration-count: infinite;
  animation-duration: 6s;
}

@keyframes cuboid-animation {
  50%{
    left: 470px;
    top: 200px;
    transform: rotate(-10deg);
  }
}

.succlent-angle{
  position: absolute;
  left: 107px;
  top: 236px;
  animation-name: succlent-angle-animation;
  animation-iteration-count: infinite;
  animation-duration: 6s;
}

@keyframes  succlent-angle-animation{
  50%{
    top: 225px;
    left: 95px;
    transform: rotate(5deg);
  }
}

.ellipse{
  position: absolute;
  left: 140px;
  bottom: 216px;
  z-index: -1;
}

.ellipse2{
  position: absolute;
  left: 0;
  top: 120px;
  z-index: -1;
}

.ellipse3{
  position: absolute;
  right: 0;
}

.ellipse4{
  position: absolute;
  z-index: -1;
  left: -40px;
}

.ellipse5{
  position: absolute;
  right: 0;
  top: -54px;
  z-index: -1;
}

.ellipse6{
  position: absolute;
  right: 0;
  top: 90px;
  z-index: -1;
}

.ellipse7{
  position: absolute;
  left: 0;
  bottom: -84px;
  z-index: -1;
}

.vector2{
  position: absolute;
  left: 0;
  top: 380px;
}

.vector1{
  position: absolute;
  left: 597px;
  top: 260px;
}

/* BOTTOM BAR */

.bottom-bar{
  padding: 43px 126px;
  display: flex;
  margin-bottom: 115px;
  justify-content: space-between;
  border-bottom: solid 0.7px var(--Grey100);
}

.bar-card{
  display: flex;
  gap: 16px;
}

.bar-card-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bar-card-text p:first-child{
  color: var(--textBlack);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 175%; /* 35px */
}

.bar-card-text p:last-child{
  color: var(--Grey101);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%; /* 26.25px */
}

.bar-card-img1{
  width: 83px;
  height: 83px;
  border-radius: 20px;
  background: var(--White200);
}

.bar-card-img2{
  width: 83px;
  height: 83px;
  border-radius: 20px;
  background: var(--Green100);
}

.bar-card-img3{
  width: 83px;
  height: 83px;
  border-radius: 20px;
  background: var(--Blue300);
}

.bar-card-img4{
  width: 83px;
  height: 83px;
  border-radius: 20px;
  background: var(--Orange100);
}

.bar-card img{
  width: 33px;
}

.bar-card-img1, .bar-card-img2, .bar-card-img3, .bar-card-img4{
  display: flex;
  justify-content: center;
}

.section1{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px;
  margin-bottom: 180px;
}

.section1-title{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section1-title h2{
  color: var(--Black101);
  text-align: center;
  font-family: Poppins;
  font-size: 33px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 52.8px */
}

.section1-title p{
  width: 692px;
  color: var(--Brown200);
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%; /* 31.5px */
}

.lorem-container{
  display: flex;
  padding: 0 65px 0 120px;
  align-items: center;
  /* position: relative; */
}

/* .lorem-container img:last-child{
  position: absolute;
  right: -220px;
  bottom: -40px;
} */

.lorem-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lorem-title{
  display: flex;
  gap: 25px;
  margin-bottom: 45px;
}

.lorem-title p:first-child{
  color: var(--textBlack);
  font-family: Poppins;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 175%; /* 29.75px */
}

.lorem-title p:last-child{
  color: var(--Brown200);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%; /* 24.5px */
}

.lorem-par p:first-child{
  width: 516px;
  color: var(--Black101);
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 170%;
  margin-bottom: 56px;
}

.lorem-par p span{
  color: var(--mainBlue);
}

.lorem-par p:last-child{
  width: 476px;
  color: var(--Brown102);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
}

.happy{
  display: flex;
  justify-content: center;
  width: 58px;
  height: 58px;
  border-radius: 29px;
  background-color: var(--Blue200);
}

.happy img{
  width: 26px;
}

.lorem-container2{
  display: flex;
  padding: 0 130px 0 80px;
  gap: 114px;
  margin-bottom: 86px;
}

.happy2{
  display: flex;
  justify-content: center;
  width: 58px;
  height: 58px;
  border-radius: 29px;
  background-color: var(--mainBlue);
}

.happy2 img{
  width: 26px;
}

.lorem-container3{
  display: flex;
  padding: 0 123px;
  gap: 180px;
  margin-bottom: 248px;
  position: relative;
}

/* .lorem-container3 img:last-child{
  position: absolute;
  right: 0px;
  bottom: -40px;
  z-index: -1;
} */

.happy3{
  display: flex;
  justify-content: center;
  width: 58px;
  height: 58px;
  border-radius: 29px;
  background-color: var(--Purple100);
}

.happy3 img{
  width: 26px;
}

.lorem-cards{
  display: flex;
  gap: 50px;
  padding: 0 122px;
  margin-bottom: 184px;
  position: relative;
}

.lorem-card-l{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  padding: 64px 48px 50px 48px;
  border-radius: 20px;
  background: var(--White103);
}

.lorem-card-r{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  padding: 64px 48px 50px 48px;
  border-radius: 20px;
  background: var(--mainBlue);
  position: relative;
}

.lorem-card-l-par{
  width: 476px;
  color: var(--Brown102);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
}

.lorem-card-l p:first-child{
  width: 365px;
  color: var(--Black101);
  text-align: center;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 170%; /* 42.5px */
}

.lorem-card-l button{
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background: var(--mainBlue);
  color: var(--White100);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%; /* 27.2px */
  padding: 11px 35px;
}

.lorem-card-r p:first-child{
  width: 365px;
  color: var(--White100);
  text-align: center;
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 170%; /* 42.5px */
}

.lorem-card-r-par{
  width: 476px;
  color: var(--White100);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
}

.lorem-card-r button{
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background: var(--White100);
  color: var(--mainBlue);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%; /* 27.2px */
  padding: 11px 35px;
}

.lorem-card-r img{
  position: absolute;
  bottom: 381px;
  right: 6px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: bell-animation;
}

@keyframes bell-animation {
  10%{
    transform: rotate(7deg);
  }
  20%{
    transform: rotate(-6deg);
  }
  30%{
    transform: rotate(5deg);
  }
  40%{
    transform: rotate(-4deg);
  }
  50%{
    transform: rotate(0deg);
  }
}

.bell-circle {
  width: 60px;
  height: 70px;
  border-radius: 50px;
  box-shadow: 0px 0px 50px var(--Pink100);
  position: absolute;
  top: -26px;
  right: 50px;
  z-index: -1;
  transform: rotate(30deg);
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: bell-circle-animation;
}

@keyframes bell-circle-animation {
  to{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
}

.companies-par{
  text-align: center;
  color: var(--textBlack);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 159%; /* 38.16px */
}

.companies{
  padding: 0 200px;
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  position: relative;
}

.email-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding: 148px 360px;
  background: var(--White101);
  position: relative;
  margin-top: 86px;
}

.email-list p{
  width: 516px;
  color: var(--Black101);
  text-align: center;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 170%; /* 51px */
}

.email-list form{
  display: flex;
  gap: 14px;
}

.email-list form input{
  color: var(--Brown101);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
  padding-left: 36px;
  width: 532px;
  border-radius: 10px;
  background: var(--White100);
  border: none;
  box-shadow: 0px 4px 84px 0px var(--Black100);
}

.email-list form button{
  cursor: pointer;
  padding: 20px 44px;
  border: none;
  border-radius: 10px;
  background: var(--textBlack);
  color: var(--White102);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%; /* 27.2px */
}

.star1{
  top: -44px;
  left: 167px;
  position: absolute;
}

.email-list img:last-child{
  top: 94px;
  right: 397px;
  position: absolute;
}