.pages ul li:nth-child(3){
  position: relative;
}

.pages ul li:nth-child(3) a {
    color: var(--mainBlue);
}

main{
  display: flex;
  flex-direction: column;
  position: relative;
}

.our-services{
  position: relative;
  margin-bottom: 250px;
  padding-top: 78px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 635px;
  width: 100%;
  background: var(--Blue100);
}

.succlent{
  position: absolute;
  top: 450px;
  right: 148px;
  z-index: 1;
  transform: rotate(54deg);
}

.speaker{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 135px;
  border-radius: 67.5px;
  background-color: var(--White100);
}

.speaker img{
  width: 73px;
  height: 73px;
}

.our-services h1{
  color: var(--mainBlue);
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.our-services p{
  width: 440px;
  color: var(--Grey201);
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%; /* 31.5px */
}

.services-card{
  position: absolute;
  margin: 0 120px;
  top: 480px;
  width: 1200px;
  display: flex;
  justify-content: center;
  gap: 56px;
  padding: 70px 0px;
  border-radius: 10px;
  background: var(--White100);
  box-shadow: 0px 4px 124px 0px var(--Black102);
}

.card-l, .card-r{
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.lorem-card{
  display: flex;
  gap: 28px;
  color: var(--Purple300);
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 177.9%; /* 44.475px */
  letter-spacing: 0.25px;
}

.lorem-card p{
  color: var(--Brown103);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 177.9%; /* 28.464px */
  letter-spacing: 0.16px;
}

.img-box1, .img-box2, .img-box3, .img-box4{
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-box1{
  width: 90px;
  height: 90px;
  border-radius: 20px;
  background: var(--Pink101);
}

.img-box2{
  width: 90px;
  height: 90px;
  border-radius: 20px;
  background: var(--Grey102);
}

.img-box3{
  width: 90px;
  height: 90px;
  border-radius: 20px;
  background: var(--Grey103);
}

.img-box4{
  width: 90px;
  height: 90px;
  border-radius: 20px;
  background: var(--Purple101);
}

.lorem-card span{
  width: 336px;
}

.lorem-section{
  display: flex;
  padding-left: 118px;
  gap: 122px;
  margin-bottom: 158px;
}

.illustration{
  width: 573px;
  object-fit: cover;
}

.lorem-text{
  width: 476px;
}

.lorem-text h2{
  margin-bottom: 56px;
  color: var(--mainBlue);
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 170%; /* 51px */
}

.lorem-text h2 span{
  color: var(--mainBlue);
}

.lorem-text p{
  color: var(--Brown102);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 28.8px */
}

.lorem-text button{
  padding: 10px 52px;
  border-radius: 10px;
  border: 1px solid var(--mainBlue);
  background: var(--White100);
  color: var(--mainBlue);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 204.3%; /* 32.688px */
}

.stat{
  background: var(--mainBlue);
  padding: 130px 0px;
  display: flex;
  justify-content: center;
  gap: 160px;
  margin-bottom: 140px;
  position: relative;
}

.bell{
  position: absolute;
  bottom: 320px;
  right: 154px;
  z-index: 1;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: bell-animation;
}

@keyframes bell-animation {
  10%{
    transform: rotate(7deg);
  }
  20%{
    transform: rotate(-6deg);
  }
  30%{
    transform: rotate(5deg);
  }
  40%{
    transform: rotate(-4deg);
  }
  50%{
    transform: rotate(0deg);
  }
}

.vector1{
  position: absolute;
  bottom: 306px;
  left: 70px;
  transform: rotate(277deg);
}

.vector2{
  position: absolute;
  top: 264px;
  left: -12px;
  transform: rotate(0deg);
}

.vector3{
  position: absolute;
  bottom: 336px;
  right: 146px;
  transform: rotate(148deg);
}

.stat-card{
  text-align: center;
  color: var(--White100);
  font-family: Poppins;
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: 177.9%; /* 115.635px */
  letter-spacing: 0.65px;
}

.stat-card p{
  color: var(--White100);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 177.9%; /* 28.464px */
  letter-spacing: 0.16px;
}

.lorem-rectangle{
  padding: 0 120px;
  margin-bottom: 50px;
}

.lorem-rectangle h4{
  color: var(--textBlack);
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 177.9%; /* 64.044px */
  letter-spacing: 0.36px;
  margin-bottom: 64px;
}

.rectangle-cards{
  display: flex;
  justify-content: space-between;
}

.rectangle-card{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.card-par{
  width: 333px;
  color: var(--textBlack);
  font-family: Poppins;
  font-size: 23px;
  font-style: normal;
  font-weight: 600;
  line-height: 177.9%; /* 40.917px */
  letter-spacing: 0.23px;
}

.last{
  width: 333px;
  color: var(--Grey202);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 210.9%; /* 33.744px */
  letter-spacing: 0.16px;
}

.rectangle-card img{
  width: 333px;
}

.email-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding: 148px 360px;
  background: var(--White101);
  position: relative;
  margin-top: 86px;
}

.email-list p{
  width: 516px;
  color: var(--Black101);
  text-align: center;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 170%; /* 51px */
}

.email-list form{
  display: flex;
  gap: 14px;
}

.email-list form input{
  color: var(--Brown101);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
  padding-left: 36px;
  width: 532px;
  border-radius: 10px;
  background: var(--White100);
  border: none;
  box-shadow: 0px 4px 84px 0px var(--Black100);
}

.email-list form button{
  cursor: pointer;
  padding: 20px 44px;
  border: none;
  border-radius: 10px;
  background: var(--textBlack);
  color: var(--White102);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%; /* 27.2px */
}

.star1{
  top: -44px;
  left: 167px;
  position: absolute;
}

.email-list img:last-child{
  top: 94px;
  right: 397px;
  position: absolute;
}